/* Header */

.header {
    padding: 40px;
    text-align: center;
    background: #006400;
    color: white;
    font-size: 30px;
}

/* Nav Bar */

ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #949494;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

/* Blog Page */

.blog_post {
    border: 5px;
}

.blog_post_title {
    color: #000000;
    font-size: xx-large;
}

.blog_post_date {
    color: #000000;
}

.blog_post_content {
    color: #000000;
}