/* Header */

.header {
    padding: 40px;
    text-align: center;
    background: #006400;
    color: white;
    font-size: 30px;
}

/* Nav Bar */

ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #949494;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


.blog_post_title {
  color: green;
  font-size: x-large;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}