{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golf Site</title>
</head>
<body>
    <div class="header">
        <h1> fantasy_golf_site - Name TBD</h1>
    </div>
    <div class="nav">
        <ul>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/build_team/">Build Team</a></li>
            <li><a href="/standings/">Standing</a></li>
        </ul>
    </div>

    {% block content %}
    
    {% endblock content %}

</body>
</html>