<!-- https://www.youtube.com/watch?v=6aQoW0TRXBk -->

{% extends "base.html" %}

{% load static %}

<link href="css/styles.css" rel="stylesheet" type="text/css">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% block content %}

<h1 class="build_team_title">Build Your Team</h1>

<form method="POST" action="{% url 'build_team' %}" enctype="multipart/form-data">
{% csrf_token %}
{{form}}

{% if messages %}
<ul class="incorrect_password">
    {% for message in messages %}
    <li class="invalid_message">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<button>Submit</button>

</form>

{% endblock content %}
