{% extends "base.html" %}

{% load static %}

<link href="css/styles.css" rel="stylesheet" type="text/css">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% block content %}

<h1 class="build_team_title">Build Your Team</h1>

<h3>Team Budget: $ {{ max_budget }}</h3>

{% if messages %}
<div class="messages_container">
    <ul class="message_list">
        {% for message in messages %}
        <li class="invalid_message">{{ message }}</li>
        {% endfor %}
    </ul>
</div>

{% endif %}

<form method="POST" action="{% url 'build_team' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit" name="btnform1">Submit Team</button>
    <br>
    <br>
    <button type="submit" name="btnform2">Check Cost</button>
    <br>
    {% csrf_token %}
    {{team_form}}
    </form>
    <br>

<br>

<br>

</form>

{% endblock content %}
