{% extends "base.html" %}

{% load static %}

<link href="css/styles.css" rel="stylesheet" type="text/css">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% block content %}

{% block teams %}

<div class="team_wrapper">
    {% for team in teams %}
    <div class="team">
        <h3 class="team_name"> 
            Team: {{ team.team_name }} <br>
            Owner: {{ team.team_owner }}
        </h3>
        
        <p class="team_points">
            Total Points: {{ team.team_points }} <br>
            Team Cost: {{ team.team_cost }} <br>
            Team Created: {{ team.creation_time }}
        </p>

        <p class="team_roster">
            {% for golfer in team.team_golfers.all %}
                <li>{{ golfer.last_name }}</li> <br>
            {% endfor %}
        </p>

        <br>

    </div>
    {% endfor %}
</div>

{% endblock teams %}

{% endblock content %}