{% extends "base.html" %}

{% load static %}



<head>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% block content %}

{% block teams %}

<div class="team_wrapper">
    <table class="standing_table" style="width:90%">
        <caption class="standing_caption">Standings:</caption>
        {% for team in teams %}
        <tr>
            <th>Owner: {{ team.team_owner }} </th>
            <th>Team: {{ team.team_name }} </th>
            <th>Total Points: {{ team.team_points }} </th>
            {% if r1 %}
                <th>Round 1 Points: {{ team.r_1_points }} </th>
            {% endif %}
            {% if r2 %}
                <th>Round 1 Points: {{ team.r_1_points }} </th>
                <th>Round 2 Points: {{ team.r_2_points }} </th>
            {% endif %}
            {% if r3 %}
                <th>Round 1 Points: {{ team.r_1_points }} </th>
                <th>Round 2 Points: {{ team.r_2_points }} </th>
                <th>Round 3 Points: {{ team.r_3_points }} </th>
            {% endif %}
            {% if r4 %}
                <th>Round 1 Points: {{ team.r_1_points }} </th>
                <th>Round 2 Points: {{ team.r_2_points }} </th>
                <th>Round 3 Points: {{ team.r_3_points }} </th>
                <th>Round 4 Points: {{ team.r_2_points }} </th>
            {% endif %}
            <th>
                {% for golfer in team.team_golfers.all %}
                    <li>{{ golfer.name }} 
                        {% if golfer.cut %} 
                            (CUT) </li> <br>
                        {% else %}
                            ({{ golfer.point }})</li> <br>
                        {% endif %}
                {% endfor %}
            </th>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock teams %}

{% endblock content %}