{% extends "base.html" %}

{% load static %}



<head>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% block content %}

{% if pre_tourn %}
<h1 style="text-align: center">When The Tournament Starts, Return To This Page To See Your Current Standings</h1>
{% endif %}

{% block teams %}

<div class="team_wrapper">
    <table class="standing_table" style="width:90%;text-align: center">
        <caption class="standing_caption">Standings:</caption>
        {% for team in teams %}
        <tr>
            <th>Team: {{ team.team_name }} </th>
            <th>Total Points: {{ team.team_points }} </th>
            <th>
                {% for golfer in team.team_golfers.all %}
                    <li>{{ golfer.name }} 
                        {% if golfer.cut %} 
                            (CUT) </li> <br>
                        {% else %}
                           </li> <br>
                        {% endif %}
                {% endfor %}
            </th>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="team_wrapper">
    <table class="standing_table" style="width:90%">
        <caption class="standing_caption">Standings (CUT):</caption>
        {% for team in cut_teams %}
        <tr>
            <th>Team: {{ team.team_name }} </th>
            <th>Total Points: CUT </th>
            <th>
                {% for golfer in team.team_golfers.all %}
                    <li>{{ golfer.name }} 
                        {% if golfer.cut %} 
                            (CUT) </li> <br>
                        {% else %}
                            </li> <br>
                        {% endif %}
                {% endfor %}
            </th>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock teams %}

{% endblock content %}